body {
  font-family: "Space Mono";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
}

@font-face {
  font-family: "FontName";
  src: url("../fonts/transfonter.Space-Mono/SpaceMono-Regular.woff2");
}
@font-face {
  font-family: "FontName";
  src: url("../fonts/transfonter.Space-Mono/SpaceMono-Bold.woff2");
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}
@font-face {
  font-family: "FontName";
  src: url("../fonts/transfonter.Space-Mono/SpaceMono-BoldItalic.woff2");
}
@font-face {
  font-family: "FontName";
  src: url("../fonts/transfonter.Lexend-Deca/LexendDeca-Regular.woff2");
}
@font-face {
  font-family: "FontName";
  src: url("../fonts/transfonter.Lexend-Deca/LexendDeca-Bold.woff2");
  font-family: Space Mono;
}
@font-face {
  font-family: "FontName";
  src: url("../fonts/transfonter.Lexend-Deca/LexendDeca-ExtraBold.woff2");
}
@font-face {
  font-family: "FontName";
  src: url("../fonts/transfonter.Lexend-Deca/LexendDeca-Light.woff2");
}
@font-face {
  font-family: "FontName";
  src: url("../fonts/transfonter.Lexend-Deca/LexendDeca-ExtraLight.woff2");
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0 165px;
  box-sizing: border-box;
  width: 1440px;
  padding: 0 165px;
}
.header__nav__items {
  list-style-type: none;
}

.intro__left__box__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  width: 500px;
  margin-left: 165px;
  margin-bottom: 0;
}

.intro__left__box__sub_title {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 405px;
}

.intro__left__box__btn {
  height: 53px;
  width: 180px;
  border: 3px solid #FCB72B;
  margin-left: 260px;
  color: rgb(252, 183, 43);
}

.intro__left__box__link {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: rgb(252, 183, 43);
}

.intro__left__box {
  display: flex;
  flex-direction: column;
  margin-left: 165px;
}

.main__section {
  background-image: url(../../images/scoot__rider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 1440px;
  margin: 0 auto;
  height: 650px;
  overflow-x: hidden;
  font-family: "Space Mono";
}

.main--wrapper--intro {
  display: flex;
  flex-direction: column;
  margin-top: 153px;
}

.yellow--line--right__wrapper {
  display: flex;
  gap: 102px;
  align-self: flex-end;
  margin-bottom: 153px;
}

.intro__wrapper--first {
  display: flex;
  justify-content: space-between;
  gap: 57px;
}

.intro__left__box__btn {
  border: 3px solid #FCB72B;
  color: rgb(252, 183, 43);
}

.intro__left__box__btn:hover {
  background-color: transparent;
}

.intro__left__box__link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: #FCB72B;
}

.intro__section__wrapper--img {
  margin-top: 50px;
}

.first__card__sub-ttitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 350px;
}

.cards {
  display: flex;
  gap: 30px;
  padding: 160px 165px 147px;
}

.second__section {
  background-image: url(../../images/white--line.jpg);
  background-repeat: no-repeat;
  background-position: left, center;
  margin: 0 auto;
  width: 1440px;
  padding-top: 200px;
}

.third__section__left__box__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  width: 445px;
  color: rgb(73, 85, 103);
  margin-top: 119px;
}

.third__section__left__box__sub-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 445px;
  color: rgb(147, 156, 170);
}

.third__section {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
  padding-left: 160px;
  box-sizing: border-box;
  gap: 84px;
  padding-top: 200px;
}

.fiveth__section__right__box__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  width: 445px;
  color: rgb(73, 85, 103);
}

.fiveth__section__right__box__sub-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 445px;
  color: rgb(147, 156, 170);
}

.fiveth__section {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 84px;
  align-items: center;
  padding-right: 160px;
  padding-top: 200px;
}

.sixth__section__right__box__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  width: 445px;
  color: rgb(73, 85, 103);
}

.sixth__section__right__box__sub-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 445px;
  color: rgb(147, 156, 170);
}

.sixth__section {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 84px;
  align-items: center;
  padding-top: 200px;
  padding-left: 160px;
  height: 900px;
}

.intro__left__box__btn {
  margin-left: 0;
  color: rgb(252, 183, 43);
}

.footer__section__wrapper__box__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  width: 415px;
  display: inline-block;
}

.footer__section__flexible {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  padding-top: 200px;
  padding: 0 160px;
  height: 300px;
}

.footer__section__flexible {
  background-image: url(../../images/three-half-circle-gray-img.svg);
  background-repeat: no-repeat;
}

.footer__section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  padding-top: 200px;
  padding: 0 160px;
  width: 1440px;
  height: 96px;
  background-color: rgb(51, 58, 68);
}

.wrapper__box {
  display: flex;
  gap: 58px;
}

.header__nav__items {
  display: flex;
  gap: 32px;
}

/*# sourceMappingURL=main.css.map */

 /* third__section */

.third__section__left__box__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    width: 445px;
    color: rgba(73, 85, 103, 1);
    margin-top: 119px;
}

.third__section__left__box__sub-title {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    width: 445px;
    color: rgba(147, 156, 170, 1);
}

.third__section {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    padding-left: 160px;
    box-sizing: border-box;
    gap: 84px;
    padding-top: 200px;
}

   /* third__section
   fiveth__section */

.fiveth__section__right__box__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    width: 445px;
    color: rgba(73, 85, 103, 1);
}
.fiveth__section__right__box__sub-title {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    width: 445px;
    color: rgba(147, 156, 170, 1);
}

.fiveth__section {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 84px;
    align-items: center;
    padding-right: 160px;
    padding-top: 200px;
}

  /* fiveth__section */

.sixth__section__right__box__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    width: 445px;
    color: rgba(73, 85, 103, 1);
}

.sixth__section__right__box__sub-title {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    width: 445px;
    color: rgba(147, 156, 170, 1);
}

.sixth__section {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 84px;
    align-items: center;
    padding-top: 200px;
    padding-left: 160px;
    height: 900px;
}

.intro__left__box__btn {
    margin-left: 0;
    color: rgba(252, 183, 43, 1);
}

 /* fiveth__section */