// Space__Mono
@font-face {
    font-family: 'FontName';
    src: url('../fonts/transfonter.Space-Mono/SpaceMono-Regular.woff2');
}

@font-face {
    font-family: 'FontName';
    src: url('../fonts/transfonter.Space-Mono/SpaceMono-Bold.woff2');
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}

@font-face {
    font-family: 'FontName';
    src: url('../fonts/transfonter.Space-Mono/SpaceMono-BoldItalic.woff2');
}
// Space__Mono

// 
@font-face {
    font-family: 'FontName';
    src: url('../fonts/transfonter.Lexend-Deca/LexendDeca-Regular.woff2');
}

@font-face {
        font-family: 'FontName';
        src: url('../fonts/transfonter.Lexend-Deca/LexendDeca-Bold.woff2');
        font-family: Space Mono;
}

@font-face {
    font-family: 'FontName';
    src: url('../fonts/transfonter.Lexend-Deca/LexendDeca-ExtraBold.woff2');
}

@font-face {
    font-family: 'FontName';
    src: url('../fonts/transfonter.Lexend-Deca/LexendDeca-Light.woff2');
}

@font-face {
    font-family: 'FontName';
    src: url('../fonts/transfonter.Lexend-Deca/LexendDeca-ExtraLight.woff2');
}